<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Текущий локальный индекс <%= index %></h1>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
